html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, #6a11cb, #000000); /* degradado morado-negro */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
